# Topic :List
### Exercise

In [224]:
## Q1. Create a list of 5 random numbers and print the list.


l1=[2,3,4,5,8]

print("list:",l1)

list: [2, 3, 4, 5, 8]

In [226]:
## Q2. Insert 3 new values to the list and print the updated list.

l1.extend(["D47",55,96])
print("updated list using extend:",l1)

updated list using extend: [2, 3, 4, 5, 8, 'D47', 55, 96]

In [222]:
## Try to use a for loop to print each element in the list.


for i in range(len(l1)):
    print(l1[i])

2
3
4
5
8
D47
55
96

# Topic: Dictionary
## Exercise

In [198]:
## Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

d1={"name":"john","age":25,"address":"newyork"}
print("Dictionary:",d1)

Dictionary: {'name': 'john', 'age': 25, 'address': 'newyork'}

In [200]:
## Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'

d1["phone"]='1234567890'

print("updated dictionary:",d1)

updated dictionary: {'name': 'john', 'age': 25, 'address': 'newyork', 'phone': '1234567890'}

# Topic: Set
## Exercise

In [206]:
## Q1.Create a set with values 1, 2, 3, 4, and 5.

st1={1,2,3,4,5}
print ("SET :",st1)

SET : {1, 2, 3, 4, 5}

In [212]:
## Q2 Add the value 6 to the set created in Q1.


st1.add(6) 
print ("updated set by adding :",st1)

updated set by adding : {1, 2, 3, 4, 5, 6}

In [216]:
## Q3. Remove the value 3 from the set created in Q1.


st1.remove(3)
print ("updated set by removing :",st1)

updated set by removing : {1, 2, 4, 5, 6}

# Topic:Tuple
### Exercise

In [218]:
## Q1. Create a tuple with values 1, 2, 3, and 4

t1=(1,2,3,4)
print("tuple :",t1)

tuple : (1, 2, 3, 4)

In [230]:
## Q2. Print the length of the tuple created in Q1.

len(t1)

print("length of tuple:",len(t1))

length of tuple: 4