In [ ]:
## Python Fundamentals- Assignment 1

In [61]:
#Write Python code that prints your name, student number and email address.

name= input("Enter Your Name :")
student_number = int (input("enter your number:"))
email_address=input("enter your email address :  ")


print("name:",name)
print("student number :",student_number)
print ("email_id :", email_address)

Enter Your Name : yazin zyn
enter your number: 562511622
enter your email address :   yazinzyn@gmail.com

name: yazin zyn
student number : 562511622
email_id : yazinzyn@gmail.com

In [69]:
#Write Python code that prints your name, student number and email address using escape sequences.

name= input("Enter Your Name :")
student_number = int (input("enter your number:"))
email_address=input("enter your email address :  ")
print(name,student_number,email_address,sep="\n")

Enter Your Name : yazin
enter your number: 15551184815
enter your email address :   yazinzyn@gmail.com

yazin
15551184815
yazinzyn@gmail.com

In [89]:
#Write Python code that add, subtract, multiply and divide the two numbers.

n1=14
n2=7

add=n1+n2
sub=n1-n2
multi=n1*n2
div=n1/n2

print ("14+7=",add) 
print ("14-7=",sub) 
print ("14*7=",multi)
print ("14/7=",div)

14+7= 21
14-7= 7
14*7= 98
14/7= 2.0

In [97]:
#Write Python code that displays the numbers from 1 to 5 as steps.

print ("""
          1
            2
              3
                4
                  5
""")

          1
            2
              3
                4
                  5

In [111]:
#Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen: 
#An example runs of the program: "SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

print(' "SDK" stands for "Software Development Kit", whereas \n "IDE" stands for "Integrated Development Environment".')

 "SDK" stands for "Software Development Kit", whereas
 "IDE" stands for "Integrated Development Environment".

In [121]:
#Practice and check the output

print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [21]:
#Define the variables below. Print the types of each variable. What is the sum of your variables? 
#(Hint: use a type conversion function.) What datatype is the sum? 

num=23
textnum="57"
decimal=98.3 

print("type of num=",type(num))
print("type of textnum=",type(textnum))
print("type of decimal=",type(decimal))


sum=num+int(textnum)+decimal
print(sum)

print("type of sum=",type(sum))

type of num= <class 'int'>
type of textnum= <class 'str'>
type of decimal= <class 'float'>
178.3
type of sum= <class 'float'>

In [53]:
## calculate the number of minutes in a year using variables for each unit of time.
##print a statement that describes what your code does also.
##Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and 
##print the values(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

days=365
minutes=60
hours=24

total_number_of_minutes_in_an_year = days*hours*minutes
print("total number of min per year= ",total_number_of_minutes_in_an_year)

total number of min per year=  525600

In [61]:
#Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting. An example runs of the program: 
#Please enter you name: Tony Hi Tony, welcome to Python programming :) 

name=input("Enter your Name:     ")
print("Hi",name,",","Welcome to python programming :)")

Enter your Name:      tony

Hi tony , Welcome to python programming :)

In [ ]:
#Name your file: PoundsToDollars.py Write a program that asks the user to enter an amount in pounds (£) and the program 
#calculates and converts an amount in dollar ($) An example runs of the program: Please enter amount in pounds: XXX £ XXX are $ XXX

In [63]:
pounds=float(input("enter your amount in pounds(£):    "))
money_rate=5.50

dollar = pounds*money_rate

print ("£",pounds,"are","$",dollar)

enter your amount in pounds(£):     10

£ 10.0 are $ 55.0